@import '../variables';
@import '../keyframe';

body #root > header{
 display:grid;
 grid-template-columns: 1fr 4fr;
 grid-template-rows: min-content;
 grid-template-areas: "picture title";
 justify-content: center;
 align-items: center;
 background-color: $secondaryAnthracite2;
 border-top-left-radius: 2vw;
 border-top-right-radius: 2vw;
 a{
  grid-area: picture;

  aspect-ratio: 1/1;
  margin: 0 auto;
  .bubbleEffect {
   position: relative;    
   display: inline-block;
   width:90%;
   height:90%;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0 2vh 1vh -1vh black ;
   &:after {
    content: '';
    position: absolute;
    box-shadow: inset 0.8vw 0.8vw 0.8vw rgba(0,0,0,0.05),
    1vw 1.4vw 0.8vw rgba(0,0,0,0.05),
    1vw 0.8vw 0.8vw rgba(0,0,0,0.05),
    inset 1vw 1vw 1vw rgba(255,255,255,0.9);
    border-radius: 50%;
    overflow: hidden;
   }
   &:after {
    width:100%;
    height:100%;  
    top: 0vh;
    left: 0vh;
    overflow: hidden;
   }
   &:hover{
    animation: float 2s ease-in-out 0.2s infinite;
   }
   img{
    width:100%;
    height:100%;
   }
  }
 }
 h1{
  grid-area: title;
  text-shadow: 1px 1px 0 white;
 }
}

@media screen and (max-width: 800px) {
 header{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  a{
   margin:auto;
  }
 }
}