@import '../variables';

nav{
 position:sticky;
 top:0;
 z-index:100;
 margin:1vw 0;
 width:100%;
 ul{
  display:grid;
  grid-auto-flow: column;
  justify-items: center;
  list-style-type: none;
  li{
   background-color: $thirdYellow2;
   color:$secondaryAnthracite1;
   border-radius: 1vw;
   font-weight: bold;
   text-align: center;
   box-shadow: none;
   cursor: pointer;
   transition:all 250ms ease-in-out;
   line-height: 1rem;
   padding:4vh 2vw;
   i{
    margin: auto;
   }
   &:hover{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.74);
    background-color: $thirdYellow1;
   }
   &:active{
    transform: scale(0.9);
   }
  }
 }
}

@media screen and (max-width: 800px) {
 nav{
  position:fixed;
  top:auto;
  bottom:0;
  left:0;
  ul{
   li{
    padding:2vw;
    border-radius: 50%;
    span{display:none;}
   }
  }
 }
}