@import '../variables';

nav{
 position:sticky;
 top:0;
 z-index:100;
 margin:1vw 0;
 ul.smallScreen{display:none;}
 ul{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
  list-style-type: none;
  gap:5vw;
  width:95%;
  margin:auto;
  li{
   background-color: $thirdYellow2;
   color:$secondaryAnthracite1;
   border-radius: 5px;
   font-weight: bold;
   text-align: center;
   box-shadow: none;
   cursor: pointer;
   transition:all 250ms ease-in-out;
   line-height: 1rem;
   padding:1vh 0;
   width:100%;
   i{
    font-size: 1.5rem;
   }
   &:hover{
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.74);
    background-color: $thirdYellow1;
   }
   &:active{
    transform: scale(0.9);
   }
  }
 }
}

@media screen and (max-width: 800px) {
 nav{
  position:fixed;
  top:100vh;
  bottom:0;
  width:100vw;
  ul.largeScreen{display:none};
  ul.smallScreen{
   position: fixed;
   bottom:0;
   display:grid;
   gap:5vw;
   li{
    border-radius: 50%;
    width:8vw;
    height:8vw;
    padding: 2%;
    font-size: 4vw;
    div{display:none;}

   }
  }
 }
}