@import '../variables';

form#sendMessage{
  display: block;
  margin:auto; 
  width:75%;
  background-color: hsla(0, 100%, 100%, 0.7);
  padding:1%;
  input, textarea{
    display:block;
    width:100%;
    margin:auto;
    padding:1.5vw;
    border:none;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 0.5vw;
    &:focus{
    outline: none;
      & + label{
        top:0;
        font-size: 1vw;
        transition: all 0.225s ease;
        color:$secondaryOrange1;
      }
    }
    &:hover{
    background-color: hsla(0, 0%, 0%, 0.8);
    color:$secondaryOrange1;
    & ~ label{
      color:$secondaryOrange1;
    }
    
    }
  }
  textarea{
    height:10em;
  }
  div{
    position:relative;
    margin:1% auto;
  
    label{
    position:absolute;
    top:50%;
    left:2%;
    transform: translateY(-50%);
    }
  }
  button{
    display:block;
    width:33%;
    margin:auto;
    padding:2vh;
    border:none;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 0.5vw;
    transition: all 0.3s ease;
    &:hover{
    background-color: hsla(0, 0%, 0%, 0.8);
    color:hsla(0, 100%, 100%, 0.8);
    }
    &:active{
    transform: scale(0.9);
    }
  }
}

@media all and (max-width:800px){
 form#sendMessage{
  width:100%;
  input, textarea{
   padding:4vw;
   &:focus{
    & + label{
     background-color: $secondaryAnthracite1;
     font-size: 3vw;
    }
   }
  }
 }
}