@import '../variables';



.AllExperiences{
 width:90%;
 background-color:hsla(0, 100%, 100%, 0.8);
 margin:auto;
 margin-bottom:5%;
 
 h2{
  display: block;
  width:100%;
  text-align: center;
 }
 .experiences{
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  overflow: scroll;  
  .resumeExperience{
   display:flex;
   flex-direction: column;
   flex-wrap:wrap;
   width:50vw;
   position: relative;
   text-align: center;
   .timeline{
    border-top:1px solid black;
    height:1px;
    position:relative;
    width:100%;
    margin-top: 1rem;
    &::before{
     content: '';
     position: absolute;
     top: -10px; 
     left: 50%;
     transform: translateX(-50%);
     width: 20px; 
     height: 20px; 
     background-color: black;
     border-radius: 50%;
    }
   }
   .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:10vw;
    height:10vw;
    img{
     display:block;
     max-width:80%;
     max-height:100%;
     margin:auto auto;
    }
   }
  }
 }
}