@import '../variables';

.allProjects{
 background-color:hsla(0, 100%, 100%, 0.8);
 border-radius: 1vw;
 overflow: hidden;
 padding:1%;
 h2{
  display: block;
  width:100%;
  text-align: center;
 }
 .projects {
  width: 90%;
  margin: auto;
  text-align: center;
  .project-card {
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 1vw;
   overflow: hidden;
   text-align: left;
   padding: 1.5vw;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   margin-bottom: 1.5vw;
   img {
     width: 100%;
     height: auto;
     object-fit: cover;
     border-bottom: 1px solid #ddd;
   }
   h3 {
     margin-top: 10px;
     color: #333;
   }
   .keypoints{
    list-style-image: url(./../../assets/images/bulb.png);
   }
   .links a {
     display: inline-block;
     margin-right: 10px;
     text-decoration: none;
     color: #007bff;
   }
  }
 }
}