@import './variables';
/* Reset de base */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

a:link,
a:visited{
 text-decoration: none;
}

*,a{
 color:$secondaryAnthracite1;
}

body{
 background-color: $principalBlue1;
}

#root{
 display:block;
 margin:5vh auto;
 width:70vw;
 background-color:$secondaryAnthracite1;
 border-radius: 2vw;
 box-shadow: 0 0 20px black;
}

@media screen and (max-width: 800px) {
 #root{
  width:95vw;
 }
}