@import './variables';
/* Reset de base */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 color:$secondaryAnthracite1;
}

body{
 background-color: $principalBlue1;
}

#root{
 display:block;
 margin: 1% auto;
 width:70vw;
 background-color:$secondaryAnthracite1;
 border-radius: 2vw;
 box-shadow: 0 0 20px black;
}

p, ul:not(nav ul){ line-height: 2rem;text-align: justify;margin-bottom: 2rem;}

@media screen and (max-width: 800px) {
 #root{
  width:95vw;
  p,ul:not(nav ul){ line-height: 1.5rem;text-align: justify;left: 1.5rem;}
 }
}

