$principalBlue1: #66b3ff;
$principalBlue2: #99ccff;
$principalGray1:#f0f0f0;
$principalGray2:#d3d3d3;
$secondaryMint1: #a0e6a1;
$secondaryMint2:  #80d7b1;
$secondaryOrange1: #ff7f50;
$secondaryOrange2: #ffb085;
$secondaryAnthracite1:#333333; // font/nav
$secondaryAnthracite2:#333333; // font/nav
$thirdYellow1:#ffed66; //button
$thirdYellow2:#f7f5a1; //button

*,a{
 color:$secondaryAnthracite1;
}

body{
 background-color:$secondaryAnthracite2;
}