// Couleur principale (Confiance et expertise)
$blue-dark: hsl(210, 50%, 30%);  // Bleu foncé

// Couleur secondaire (Authenticité et enthousiasme)
$orange: hsl(30, 100%, 50%);  // Orange (énergie et créativité) 
$yellow: hsl(50, 100%, 50%);  // Jaune (enthousiasme et clarté)

// Accent (Inspiration et innovation)
$green-mint: hsl(150, 60%, 60%);  // Vert menthe (créativité et innovation)
$violet-light: hsl(270, 50%, 70%);  // Violet pâle (inspiration et transformation)

// Couleurs pour la lisibilité et la clarté
$white: hsl(0, 0%, 100%);  // Blanc (clarté et simplicité)
$grey-light: hsl(0, 0%, 95%);  // Gris clair (arrière-plan léger)
$black: hsl(0, 0%, 10%);  // Noir (texte principal)

// Texte
$grey-dark: hsl(0, 0%, 30%);  // Gris foncé (texte principal)

// Couleurs pour les éléments interactifs
$hover-blue: hsl(210, 60%, 40%);  // Bleu hover (lorsque survolé)
$hover-orange: hsl(30, 100%, 60%);  // Orange hover (lorsque survolé)
