@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 30%);
}

body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 30%);
  font-family: "Arial", sans-serif;
}

#root {
  display: block;
  margin: 1% auto;
  width: 70vw;
  background-color: hsl(0, 0%, 30%);
  border-radius: 2vw;
  box-shadow: 0 0 20px black;
}

section {
  background-color: hsl(0, 0%, 95%);
}

footer {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 100%);
}

p, ul:not(nav ul) {
  line-height: 2rem;
  text-align: justify;
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  #root {
    width: 95vw;
  }
  #root p, #root ul:not(nav ul) {
    line-height: 1.5rem;
    text-align: justify;
    left: 1.5rem;
  }
}
* {
  font-family: "Roboto", "Lora", sans-serif;
  font-size: 1.1vw;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: hsl(210, 50%, 30%);
  text-align: center;
}

h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: hsl(210, 50%, 30%);
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
}

h4 {
  font-size: 1vw;
}

h5 {
  font-size: 1vw;
}

h6 {
  font-size: 1vw;
}

a {
  color: hsl(210, 50%, 30%);
}
a:hover {
  color: hsl(210, 60%, 40%);
}

@media screen and (max-width: 800px) {
  * {
    font-size: 3vw;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.25em;
  }
}
button {
  background-color: hsl(30, 100%, 50%);
  color: hsl(0, 0%, 100%);
}
button:hover {
  background-color: hsl(30, 100%, 60%);
}

a,
a:link {
  color: hsl(30, 100%, 50%);
  text-decoration: none;
}

a:visited {
  color: hsl(30, 100%, 50%);
  text-decoration: none;
}

a:not(ul a):hover {
  text-decoration: underline;
}

article {
  width: 90%;
  background-color: hsla(0, 100%, 100%, 0.8);
  margin: auto;
  margin-bottom: 5%;
  border-radius: 1vw;
  overflow: hidden;
  box-shadow: 0 0 1vw 0 black;
}
article header {
  background-color: hsl(50, 100%, 50%);
  display: block;
  width: 100%;
  text-align: center;
}
article div.content {
  margin: 1%;
  padding: 2%;
}
article div.content > div {
  margin-bottom: 2%;
}

@keyframes float {
  0% {
    transform: translate(0, -50%) scale(1, 1);
  }
  50% {
    transform: translate(0, calc(-50% + 1vw)) scale(1.2, 1);
  }
  100% {
    transform: translate(0, -50%) scale(1, 1);
  }
}
body #root > header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: min-content;
  grid-template-areas: "picture title nothing";
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}
body #root > header a {
  grid-area: picture;
  aspect-ratio: 1/1;
  margin: 0 auto;
  text-align: center;
}
body #root > header a .bubbleEffect {
  position: relative;
  top: 50%;
  display: inline-block;
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2vh 1vh -1vh black;
  transform: translateY(-50%);
}
body #root > header a .bubbleEffect:after {
  content: "";
  position: absolute;
  box-shadow: inset 0.8vw 0.8vw 0.8vw rgba(0, 0, 0, 0.05), 1vw 1.4vw 0.8vw rgba(0, 0, 0, 0.05), 1vw 0.8vw 0.8vw rgba(0, 0, 0, 0.05), inset 1vw 1vw 1vw rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  overflow: hidden;
}
body #root > header a .bubbleEffect:after {
  width: 100%;
  height: 100%;
  top: 0vh;
  left: 0vh;
  overflow: hidden;
}
body #root > header a .bubbleEffect:hover {
  animation: float 2s ease-in-out 0.2s infinite;
}
body #root > header a .bubbleEffect img {
  width: 100%;
  height: 100%;
}
body #root > header h1 {
  grid-area: title;
  text-shadow: 1px 1px 0 white;
}

@media screen and (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  header a {
    margin: auto;
  }
}
footer {
  background-color: hsl(0, 0%, 95%);
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  margin-bottom: 2vh;
  text-align: center;
  min-height: 2vw;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 1vw 0;
  width: 100%;
}
nav ul {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  list-style-type: none;
}
nav ul li {
  background-color: hsl(50, 100%, 50%);
  color: hsl(0, 0%, 30%);
  border-radius: 1vw;
  font-weight: bold;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  line-height: 1rem;
  padding: 1vw 2vw;
}
nav ul li i {
  margin: auto;
}
nav ul li:hover {
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.74);
  background-color: hsl(50, 100%, 50%);
  transform: scale(1.1);
}
nav ul li:active {
  transform: scale(0.9);
  box-shadow: inset 0px 0px 12px 4px rgba(0, 0, 0, 0.74);
}

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
  }
  nav ul li {
    padding: 2vw;
    border-radius: 50%;
  }
  nav ul li span {
    display: none;
  }
}
.AllExperiences {
  background-color: hsla(0, 100%, 100%, 0.8);
  border-radius: 1vw;
  overflow: hidden;
}
.AllExperiences h2 {
  display: block;
  width: 100%;
  text-align: center;
}
.AllExperiences .experiences {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  overflow: scroll;
}
.AllExperiences .experiences .resumeExperience {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
}
.AllExperiences .experiences .resumeExperience .date {
  padding-bottom: 1vh;
  border-bottom: 1px solid black;
  position: relative;
}
.AllExperiences .experiences .resumeExperience .date::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 1vw;
  height: 1vw;
  background-color: black;
  border-radius: 50%;
}
.AllExperiences .experiences .resumeExperience .thumbnail {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 0.5vw;
}
.AllExperiences .experiences .resumeExperience .thumbnail .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  margin: auto;
}
.AllExperiences .experiences .resumeExperience .thumbnail .image img {
  display: block;
  max-width: 80%;
  max-height: 100%;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .AllExperiences {
    height: 50vh;
    overflow-y: scroll;
  }
  .AllExperiences .experiences {
    width: 100%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .AllExperiences .experiences .resumeExperience {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "image infos";
    height: 12vh;
  }
  .AllExperiences .experiences .resumeExperience .date {
    padding: 0;
    border: none;
    margin: auto 0;
    position: relative;
  }
  .AllExperiences .experiences .resumeExperience .date::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% - 1.5vw);
    transform: translateY(-50%);
    width: 3vw;
    height: 3vw;
    background-color: black;
    border-radius: 50%;
  }
  .AllExperiences .experiences .resumeExperience .thumbnail {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "image infos";
    align-items: center;
    border-left: 1px solid black;
    position: relative;
    max-height: 100%;
  }
  .AllExperiences .experiences .resumeExperience .thumbnail .image {
    grid-area: image;
  }
  .AllExperiences .experiences .resumeExperience .thumbnail .infos {
    text-align: left;
  }
}
#skills .listSkills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
  margin-bottom: 5%;
}
#skills .listSkills .skillCategory {
  background-color: hsla(0, 100%, 100%, 0.8);
  padding: 1vw;
  border-radius: 1vw;
}
#skills .listSkills .skillCategory .knowledgeInfos {
  width: 100%;
  text-align: left;
  table-layout: auto;
  border-collapse: collapse;
}
#skills .listSkills .skillCategory .knowledgeInfos th {
  white-space: nowrap;
}
#skills .listSkills .skillCategory .knowledgeInfos td {
  width: 66.6666666667%;
}
#skills .listSkills .skillCategory .knowledgeInfos .knowledgeStars {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 10vw;
  margin: auto 0;
}
#skills .listSkills .skillCategory .knowledgeInfos .knowledgeStars div {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  margin: 0 2%;
}
#skills .listSkills .skillCategory .knowledgeInfos .knowledgeStars div.starFull {
  background-color: gold;
}
#skills .listSkills .skillCategory .knowledgeInfos .knowledgeStars div.starEmpty {
  background-color: silver;
}

.explanations {
  width: 90%;
  background-color: hsla(0, 100%, 100%, 0.8);
  margin: auto;
  margin-bottom: 5%;
  padding: 1%;
  border-radius: 1vw;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .listSkills {
    grid-template-columns: 1fr !important;
  }
}
.allProjects {
  background-color: hsla(0, 100%, 100%, 0.8);
  border-radius: 1vw;
  overflow: hidden;
  padding: 1%;
}
.allProjects h2 {
  display: block;
  width: 100%;
  text-align: center;
}
.allProjects .projects {
  width: 90%;
  margin: auto;
  text-align: center;
}
.allProjects .projects .project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 1vw;
  overflow: hidden;
  text-align: left;
  padding: 1.5vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5vw;
}
.allProjects .projects .project-card img, .allProjects .projects .project-card iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 1vw;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid #ddd;
}
.allProjects .projects .project-card h3 {
  margin-top: 10px;
  color: #333;
}
.allProjects .projects .project-card .keypoints {
  list-style-image: url(./../../assets/images/bulb.png);
}
.allProjects .projects .project-card .links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
}

form#sendMessage {
  display: block;
  margin: auto;
  width: 75%;
  background-color: hsla(0, 100%, 100%, 0.7);
  padding: 1%;
}
form#sendMessage input, form#sendMessage textarea {
  display: block;
  width: 100%;
  margin: auto;
  padding: 1.5vw;
  border: none;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 0.5vw;
}
form#sendMessage input:focus, form#sendMessage textarea:focus {
  outline: none;
}
form#sendMessage input:focus + label, form#sendMessage textarea:focus + label {
  top: 0;
  font-size: 1vw;
  transition: all 0.225s ease;
  color: hsl(30, 100%, 50%);
}
form#sendMessage input:hover, form#sendMessage textarea:hover {
  background-color: hsla(0, 0%, 0%, 0.8);
  color: hsl(30, 100%, 50%);
}
form#sendMessage input:hover ~ label, form#sendMessage textarea:hover ~ label {
  color: hsl(30, 100%, 50%);
}
form#sendMessage textarea {
  height: 10em;
}
form#sendMessage div {
  position: relative;
  margin: 1% auto;
}
form#sendMessage div label {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}
form#sendMessage button {
  display: block;
  width: 33%;
  margin: auto;
  padding: 2vh;
  border: none;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 0.5vw;
  transition: all 0.3s ease;
}
form#sendMessage button:hover {
  background-color: hsla(0, 0%, 0%, 0.8);
  color: hsla(0, 100%, 100%, 0.8);
}
form#sendMessage button:active {
  transform: scale(0.9);
}

@media all and (max-width: 800px) {
  form#sendMessage {
    width: 100%;
  }
  form#sendMessage input, form#sendMessage textarea {
    padding: 4vw;
  }
  form#sendMessage input:focus + label, form#sendMessage textarea:focus + label {
    background-color: hsl(0, 0%, 30%);
    font-size: 3vw;
  }
}/*# sourceMappingURL=styles.css.map */